.guest-box-container {
    margin: 20px;
    overflow-y: auto;
}


.guest-box{
    width: 100%;
    margin-bottom: 50px;
}


.guest-box-title{
    background-color: rgb(230, 230, 230);
    padding: 5px;
} 


.guest-box-content {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}


.guest-img {
    background-size: cover;
    height: 100%;
    flex: 0.3;
}


.guest-img img {
    width: 50%;
    /*이미지 가운데 정렬*/
    display: block;
    margin: 0 auto;
}


.guest1 {
    background-image: url("./static/images/example1.jpg");
}


.guest2 {
    background-image: url("./static/images/example2.jpg");
}


.guest3 {
    background-image: url("./static/images/example3.jpg");
}


.guest4 {
    background-image: url("./static/images/example4.jpg");
}


.guest-text {
    padding: 10px;
    flex: 0.7;
}
